<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>          
        
	    <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
	    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
	    <property name="hibernate.connection.username">jcs</property>	       
	    <property name="hibernate.connection.password">jcs@101153</property>
	    <property name="hibernate.connection.url">jdbc:oracle:thin:@spdprdb01.synchro.com.br:1521:ORCL</property>             
		
		<property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.show_sql">true</property>        

		<mapping class="br.com.synchro.handson.domain.Address"/> 			
		
    </session-factory>
</hibernate-configuration>